@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700|Work+Sans:300,400,500,600,700&display=swap);


html {
    font-family: sans-serif;
}
:root {
    --accent-color: #FF0000;
    --light-gray: rgba(0, 0, 0, 0.1);
    --main-color: rgb(0, 128, 0);
    --light-cyan: #E0FFFF;
    --honey-dew: #F0FFF0;
}

body{
    background-color: var(--light-gray);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


li, a, button{
    font-family: "montserrat"; 
    font-weight: 500;
    font-size: 16px;
    color: blue;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
}

.logo{
    cursor: pointer;
    font-size: small;
    width: 10%;
    border-radius: 7%;
}

.navbar{
    list-style: none;
}

.navbar li{
    display: inline-block;
    padding: 0 20px;
}

.navbar li a{
    transition: all 0.3s ease 0s;
}

.navbar li a:hover{
    color: #0088a9;
}

button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}


.Btn{
    box-shadow: 3px 3px 5px var(--light-gray), -1px -1px 2px var(--light-gray);
    border: none;
    transition: scale .2s ease;
    user-select: none;
    line-height: 1;
    cursor: pointer;
}

footer {
    background:#143774;
    color: white;
    text-align: center;
    padding: 3em 0;
}

.movie-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.movie-list > div {
    margin: 10px;
}

.wrappers{
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    gap: 5px;
    border: none;
    padding: 5px;
    background: var(--honey-dew);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.wrappers .input-style{
    height: 100%;
    width: 80%;
    font-size: 17px;
    border: none;
    border-bottom: 2px solid silver;
    background: var(--light-gray);
}

.wrapper{
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    gap: 5px;
    background: var(--honey-dew);
    flex-wrap: wrap;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}
.wrapper .input-style{
    height: 40px;
    width: 100%;
    position: relative;
}

.wrapper .input-style{
    height: 100%;
    width: 80%;
    font-size: 17px;
    border: none;
    border-bottom: 2px solid silver;
}

.Submit{
    height: 100%;
    width: 20%;
    font-size: 17px;
    border: none;
    border-bottom: 2px solid silver;
}

h3{
    width: 60%; 
    height: 3rem; 
    font-size: 24px; 
    text-align: center;
}